__pycache__/
*.pyc
.pytest_cache/
data/devize/*.json
!data/devize/.gitkeep
data/corpuri/*.json
!data/corpuri/.gitkeep
data/proiecte_management/*.json
!data/proiecte_management/.gitkeep
data/evenimente_cauze/*.json
!data/evenimente_cauze/.gitkeep
data/proiecte_tehnice/*.json
!data/proiecte_tehnice/.gitkeep
